/*font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	
	}


/*ETIQUETAS*/
body{
	background-image: url(../img/patitas1.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}

h1{
	font-family: 'Lobster', cursive;
	color: black;
	margin-left: 8px;
	font-size: 50px;
	text-align: center;

}

h2{
	font-family: 'Lobster', cursive;
	color: black;
	margin-left: 10px-;
	font-size: 50px;
	text-align: center;

}

h3{
	font-family: 'Lobster', cursive;
	color: black;
	font-size: 8px;
	font-size: 20px;
	text-align: center;

}
h4{
	font-family: 'Lobster', cursive;
	color: black;
	font-size: 1px;
	font-size: 20px;
	text-align: left;

}
header{
	 
	width: 1000px;
	height: 120 px;
	background: rgba(255, 255, 255, 0,5);
}
nav {
	width: 1000px;
	height: 50px;
	background:#BDBDBD ;
	border-radius: 10px;

}

#menu2{
	width: 1000px;
	height: 50px;
	background:#00FF00 ;
	border-radius: 10px;

}

#img3{
	width: 230px;
	height: 300px;
	border-left: 10px;
	border-right: 
}	
#img4{
	width: 230px;
	height: 290px;
	border-left: 10px;
	border-right: 
}	

ul{

	margin: auto;
	padding-top: 2px;

}

li{
	float: left;
	list-style-type: none;
	padding: 10px;
	background: black;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10px white inset;
}

section{
width: 700px;
background;
height: 900px;
float: left;
margin-top: 20px;
border-radius: 10px;

}
aside{
width: 280px;
background;
height: 900px;
float: left;
margin-left: 20px;
margin-top: 20px;
border-radius: 10px;


}

 footer{

 	width: 1000px;
 	height:40px;
 	background: maroon;
 	float: left;
 	margin-top: 20px;
 	border-radius: 5px;
 	margin-bottom: 20px;
 }

p{
	font-size: 14px;
	font-weight: bolder;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
}

/*CLASES*/
.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link {color: white; text-decoration: none;}
.menu:visited {color: white; text-decoration: none;}
.menu:hover { color: white; text-decoration: none;text-shadow:0 0 10px white;}
.menu:active { color: white; text-decoration: none;}


/*seudos clases */ 

